/*Utility*/

/* text underline (red) */

span.underline {
	border-bottom: $red solid 0.175em;
	display: inline-block;
	height: 1.25em;
}

/* graphic nodes in background */

.nodes {
	background-image: url('/images/nodes-full.svg');

	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: -10px 0px;

	padding-top: 5em;

	@media screen and (max-width: 600px) {
		background-size: 150% auto;
		padding-top: 2em;
	}

	@media screen and (min-width: 1400px) {
		background-position: -10px -5%;
	}

	@media screen and (min-width: 1600px) {
		background-position: -10px -10%;
	}
}

.contrast.nodes, .contrast .nodes {
	background-image: url('/images/white-nodes-full.svg');
}

/* Company logo */

.logo {
	background-image: url('/images/therefore-logo.png');
	margin-top: 2.25em;
	width: 160px;
	height: 30px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	float: left;

	@media screen and (max-width: 767px) {
		position: absolute;
		top: 1.5em;
		left: 1em;
		margin-top: 0px;
		z-index: 101;
	}
}

