
/* base brand colors */
$primary: #f05b36;
$primaryDarkest: #aa3b36;
$primaryLighter: #f2784e;
$primaryLightest: #f59572;

$accent: #cd1e60;
$red: #d64339;
$blue: #28939f;
$orange: #f69234;
$yellow: $orange;
$green: #27a786; 

$grey: #404040;
$greyLight30: lighten($grey, 30);
$greyLight50: lighten($grey, 58);
$greyLight70: lighten($grey, 70);

/* Global brand colors */

.primary, .therefore-primary, 
.navbar.navbar.therefore-primary, 
.bg-primary {
	background-color: $primary;
	color: white;
}

.primary-darker {
	background-color: $primaryDarkest;
	color: white;
}

.primary-lighter {
	background-color: $primaryLighter;
	color: white;
}

.primary-lightest {
	background-color: $primaryLightest;
	color: white;
}

.grey-light-30, .grey-medium {
	background-color: $greyLight30;
	color: white;
}

.grey-light-50, .grey-lighter {
	background-color: $greyLight50;
	color: black;
}

.grey-light-70, .grey-lightest {
	background-color: $greyLight70;
	color: black;
}

.grey {
	background-color: $grey;
	div, p, h1, h2 {
		color: white;
	}
}

.grey-trans {
	background-color: rgba(64,64,64,0.9);
	div, p, h1, h2 {
		color: white;
	}
}

.red, .danger, .bg-danger {
	background-color: $red;
	color: white;
}

.blue, .info, .bg-info {
	background-color: $blue;
	color: white;
}

.orange, .warning, .bg-warning {
	background-color: $orange;
	color: white;
}

.green, .success, .bg-success {
	background-color: $green;
	color: white;
}

.purple, .accent {
	background-color: $accent;
	color: white;	
}

/* Button polygons */

.primary-poly {
	background-image: url('/images/orange-button-back.png');
	color: white;
}

.success-poly {
	background-image: url('/images/green-button-back.png');
	color: white;
}

.info-poly  {
	background-image: url('/images/blue-button-back.png');
	color: white;
}

.warning-poly  {
	background-image: url('/images/yellow-button-back.png');
	color: white;
}

.danger-poly  {
	background-image: url('/images/red-button-back.png');
	color: white;
}

/* offering color polygons (500px) */
.yellow-poly {
	background-image: url('/images/yellow-back-500.png');
	color: white;
}

.purple-poly {
	background-image: url('/images/purple-back-500.png');
	color: white;
}

.orange-poly {
	background-image: url('/images/orange-back-500.png');
	color: white;
}

.blue-poly {
	background-image: url('/images/blue-back-500.png');
	color: white;
}

.green-poly {
	background-image: url('/images/green-back-500.png');
	color: white;
}


/* Bootstrap color text */
.text-warning {
	color: $red;
}
.text-primary {
	color: $orange;
}
.text-danger {
	color: $yellow;
}
.text-success {
	color: $green;
}
.text-info {
	color: $blue;
}



