
.demo, .lead.demo, .navbar.navbar, .color-box {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}

h1.demo, h2.demo {
	border-bottom: #ddd solid 1px;

}


.demo-box {
	border: dashed #ddd 2px;
	background: white;
	padding: 1em 1em 2em 1em;
	overflow: hidden;
	margin-top: 2em;

	h1.demo, h2.demo {
		padding-bottom: 0.1em;
	}

	h1.demo {
		font-size: 1.3em;
	}

	h2.demo {
		font-size: 1.0em;
		margin-top: 1.5em;
	}
}

.color-box {
	display: block;
	width: 90px;
	height: 90px;
	float: left;
	margin-right: 1em;
	margin-top: 1em;
	padding: 0.5em;
	font-size: 0.7em;
}

.some-padding {
	padding: 1em;
}

.showcase-wrapper.test {
	.promo-image-home {
		height: 650px;
		width:1000px;

	}
}

#about-us-promotional {
	.darker-gradient {
		@include mobile {
			background: rgba(64, 64, 64, 0.95);
		}
	}
	.inner {
		@include mobile {}
		@include desktop {
			padding-top: 10em;
		}
		padding-bottom: 4em;
	}
	.lead {
		@media screen and (max-width: 1024px) {
			font-size: 1.4em;
		}
	}
	h2 {
		span.detail {
			color: $green;
			text-transform: none;
			font-weight: 300;
			font-family: 'Museo Sans';
			display: block;
		}
		span.number {
			color: white;
			display: block;
			font-size: 2.5em;
			text-transform: uppercase;
			font-weight: 700;
			font-family: 'Museo Sans';
			@media screen and (max-width: 1024px) {
				font-size: 1.4em;
			}
			@include mobile
		}
	}
}
