@mixin mobile {
	@media screen and (max-width: 767px) {
		@content;
	}
}

@mixin desktop {
	@media screen and (min-width: 768px) {
		@content;
	}
}


@media (min-width: 992px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1400px;
		width: 100%;
	}
}

body {
	overflow-x: hidden;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-5ths {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}

.two-col {
	@include desktop {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
    	column-count: 2;
    }
}

.single-col {
	max-width: 720px;
	margin: 0 auto;
	margin-bottom: 1.5em;
}

.single-col.skinny {
	max-width: 540px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 1.5em;
}