.promo-image-1 {
	background-image: url('/images/promo-image-1.jpg');
	background-size: cover;
}

.promo-image-2 {
	background-image: url('/images/promo-image-2.jpg');
	background-size: cover;
}

.promo-image-3 {
	background-image: url('/images/promo-image-3.jpg');
	background-size: cover;
}

.promo-image-4 {
	background-image: url('/images/promo-image-4.jpg');
	background-size: cover;
}

.promo-image-5 {
	background-image: url('/images/promo-image-5.jpg');
	background-size: cover;
	background-position: center;
}

.promo-image-6 {
	background-image: url('/images/promo-image-6.jpg');
	background-size: cover;
	background-position: center;
}

.promo-image-7 {
	background-image: url('/images/promo-image-7.jpg');
	background-size: cover;
	background-position: center;
}

.promo-image-8 {
	background-image: url('/images/promo-image-8.jpg');
	background-size: cover;
	background-position: center;
}


.promo-image-9 {
	background-image: url('/images/promo-image-9.jpg');
	background-size: cover;
	background-position: center;
}


.promo-image-10 {
	background-image: url('/images/promo-image-10.jpg');
	background-size: cover;
	background-position: center;
}


.promo-image-11 {
	background-image: url('/images/promo-image-11.jpg');
	background-size: cover;
	background-position: center;
}

.unifor-case {
	background-image: url('/images/unifor-case.jpg');
	background-size: cover;
	background-position: center;
}



.showcase-frame {
	background-image: url('/images/home-showcase-3.png');
	background-size: cover;
	background-position: top left;
	background-repeat: no-repeat;
}
