.promo-image-1 {
	background-image: url('/images/promo-image-1.jpg');
	background-size: cover;
}

.promo-image-2 {
	background-image: url('/images/promo-image-2.jpg');
	background-size: cover;
}

.promo-image-3 {
	background-image: url('/images/promo-image-3.jpg');
	background-size: cover;
}

.promo-image-4 {
	background-image: url('/images/promo-image-4.jpg');
	background-size: cover;
}

.promo-image-5 {
	background-image: url('/images/promo-image-5.jpg');
	background-size: cover;
	background-position: center;
}

.promo-image-6 {
	background-image: url('/images/promo-image-6.jpg');
	background-size: cover;
	background-position: center;
}
