.offering {

}

.centerAlign {
	text-align: center;
}

.clear-both {
	clear:both;
	padding-top: 1em;
	overflow: hidden;
}

.divider {
	display: block;
	overflow:hidden;
	width: 10%;
	height: 1px;
	background: $grey;
	opacity: 0.5;
	margin-top: 1em;
	margin-bottom: 1em;
	clear: both;
	margin-left: auto;
	margin-right: auto;

	@include mobile {
		width: 25%;
	}	
}

.cut-off {
	overflow: hidden;
}

.link-text {
	position: absolute;
	text-indent: -9999px;
}

.contrast {
	div, p, h1, h2 {
		color: white;
	}

	.divider {
		background: white;
	}
}

.introduction {
	margin: 0 auto;
	text-align: center;
	max-width: 720px;
}

.single-col,.single-col-720 {
	max-width: 720px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	margin-bottom: 1.5em;
}

.single-col.skinny, .single-col-540 {
	max-width: 540px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 1.5em;
}

.mobile-hidden {
	@include mobile {
		display: none;
	}
}

.mobile {
	@include desktop {
		display: none;
	}
}

.wrapper {
	padding-top: 2em;
	padding-bottom: 2em;
}

.wrapper-tall {
	padding-top: 2em;
	padding-bottom: 2em;
}

.two-col {
	@include desktop {
		-webkit-column-count: 2; /* Chrome, Safari, Opera */
    	-moz-column-count: 2; /* Firefox */
    	column-count: 2;
    }
}
ul.bullets li ul {
    padding-left: 0px;
} 
.two-col.bullets {
	li {
		@include desktop {
			display: inline-block;
			clear: both;
			width: 100%;
		}
	}
}

a.download {
	font-size: 0.9em;
	font-family: 'Avenir';
	text-align: center;
	display: block;
	color: white;
	span {
		clear: both;
		text-transform: uppercase;
		display: block;
		margin-top: 0.75em;
	}

	i {
		margin-top: 0.3em;
		font-size: 2em;
	}
	&:hover, &:focus {
		color: white;
		text-decoration: none;
	}
}

