.btn-primary:not(.btn-link):not(.btn-flat) {
	background-color: white;
	background: url('/img/orange-button-back.png');
	color: white;
	background-position: top center;
}

.btn-success:not(.btn-link):not(.btn-flat) {
	background: url('/img/green-button-back.png');
	color: white;
}

.btn-success:not(.btn-link):not(.btn-flat) {
	background: url('/img/green-button-back.png');
	color: white;
}

.btn-info:not(.btn-link):not(.btn-flat) {
	background: url('/img/blue-button-back.png');
	color: white;
}

.btn-warning:not(.btn-link):not(.btn-flat) {
	background: url('/img/yellow-button-back.png');
	color: white;
}

.btn-danger:not(.btn-link):not(.btn-flat) {
	background: url('/img/red-button-back.png');
	color: white;
}

.btn {
	border-radius: 6px;
	font-weight: 700;
	font-family: 'Avenir';
}

.btn-default:not(.btn-link):not(.btn-flat) {
	color: $grey;
	border: solid 1px $greyLight50;
}
