/* Forms */
/* Fields */

.input-group .form-control:first-child {
    width: 100%;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.input-group {
    margin-top: 1em;
}

.input-group-lg > .form-control {
    font-size: 1.0em;
}

.input-group-addon {
    border: $greyLight50 solid 0px;
    background: $greyLight70;
}

.form-control {
    border-color: $greyLight50;
    box-shadow: none;
    &:focus {
        border-color: $blue;
    }
}

.form-group {
    margin-top: 1em;
}

.has-warning {
    .input-group-addon {
        color: white;
        border-color: $red;
        background-color: $red;
    }
    .form-control {
        border-color: $red;
        box-shadow: none;
        &:focus {
            border-color: $red;
        }
    }
}

.has-success {
    .input-group-addon {
        color: white;
        border-color: $green;
        background-color: $green;
    }
    .form-control {
        border-color: $green;
        box-shadow: none;
        &:focus {
            border-color: $green;
        }
    }
}

.checkbox,
.radio,
.togglebutton {
    label {
        font-weight: 700;
        color: $grey;
        font-size: 0.9em;
    }
}
/* Checkbox */

.checkbox input[type=checkbox]:checked + .checkbox-material .check:after,
.checkbox-default input[type=checkbox]:checked + .checkbox-material .check:after {
    background-color: $green;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check,
.checkbox-default input[type=checkbox]:checked + .checkbox-material .check {
    color: $green;
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before,
.checkbox-default input[type=checkbox]:checked + .checkbox-material .check:before {
    color: $green;
}

.checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 4px;
}

span.check-label {
    padding-left: 1.3em;
}
/* Radio */

.radio-success input[type=radio]:checked ~ .circle {
    border-color: $green;
}

.radio-success input[type=radio]:checked ~ .check {
    background-color: $green;
}

span.check {
    padding-right: 1em;
}

.radio label .check {
    height: 20px;
    width: 20px;
}

.radio label .circle {
    height: 20px;
    width: 20px;
}

div.radio-label {
    display: inline-block;
    padding-top: 3px;
}
/* Toggle */

.togglebutton label input[type=checkbox]:checked + .toggle,
.togglebutton-default label input[type=checkbox]:checked + .toggle {
    background-color: lighten($green, 20);
}

.togglebutton label input[type=checkbox]:checked + .toggle:after,
.togglebutton-default label input[type=checkbox]:checked + .toggle:after {
    background-color: lighten($green, 20);
    background-color: $green;
}
/* Validation */

.control-group {
    .form-control {
        transition: none;
        border-width: 3px;
        border-color: $greyLight70;
    }
    .form-control:focus {
        box-shadow: none;
        border-color: $blue;
        border-left: 3px solid $blue;
        background: $lightBlue;
    }
    &.warning,
    &.error {
        background: transparent;
        .form-control:focus {
            border-color: $red;
            border-left: solid 3px $red;
            box-shadow: none;
            background: $lightRed;
        }
        .input-group-addon {
            background: $red;
            color: white;
            border-color: $red;
        }
        .form-control {
            border-color: $red;
        }
    }
    &.success {
        background: transparent;
        .form-control:focus {
            background: $lightGreen;
        }
        .input-group-addon {
            background: $green;
            color: white;
            border-color: $green;
        }
        .form-control {
            border-color: $green;
        }
    }
}

.help-block {
    background: transparent;
    ul {
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
    }
}
