
.form-control:focus {
	border: 0;
	background-image: linear-gradient($primaryDarkest, $primary), linear-gradient(#d2d2d2, #d2d2d2);
	background-size: 0 2px, 100% 1px;
	background-repeat: no-repeat;
	background-position: center bottom, center calc(100% - 1px);
	background-color: transparent;
	background-color: rgba(0, 0, 0, 0);
}