#about-us-promotional {
	.darker-gradient {
		@include mobile {
			background: rgba(64,64,64,0.95);

		}
	}

	.inner {
		@include mobile {
		}

		@include desktop {
			padding-top: 10em;
		}

		padding-bottom: 4em;
	}

	.lead {
		@media screen and (max-width: 1024px) {
			font-size: 1.4em;
		}
	}

	h2 {
		span.detail {
			color: $green;
			text-transform: none;
			font-weight: 300;
			font-family: 'Museo Sans';
			display: block;			
		}

		span.number {
			color: white;
			display: block;
			font-size: 2.5em;
			text-transform: uppercase;
			font-weight: 700;
			font-family: 'Museo Sans';
			@media screen and (max-width: 1024px) {
				font-size: 1.4em;
			}

			@include mobile

		}
	}
}


#about-us-quick-facts {
	&.container {
		max-width: 1200px;
	}

	font-size: 0.9em;

	h2 {
		font-size: 1.4em;
	}

	.panel {
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 1em;
		border-radius: 1em;
		background: none;
		box-shadow: none;
		max-width: 300px;
		margin: 0 auto;
	}
}

#about-us-people {
	img {
		margin: 0 auto;
		border: white solid 2px;
	}

	.container {
		max-width: 1000px;
	}

	.person {
		font-size: 14px;
		background: $whiteTrans;
		padding-left: 2em;
		padding-right: 2em;
		padding-top: 1em;
		margin-bottom: 2em;
		border: solid 2px $greyLight70;
		border-radius: 1em;
		p, h1, h2, div {
			color: $grey;
		}

		@include desktop {
			min-height:300px;
		}

		@include mobile {
			min-height: 275px;
		}

		h3 {
			font-size: 1.2em;	
		}
	}
}

#about-us-our-values {
	dt {
		padding-left: 2em;
		position: relative;
		&:before {
			font-family: 'fontawesome';
			content:"\f0a9";
			position: absolute;
			left: 0px;
		}
	}
	dd {
		padding-left: 2em;
		margin-bottom: 1em;

	}

}
