#case-study.allseating-case-study {
	overflow-x: inherit;

	.case-study-container {
		overflow-x: hidden;
	}

	.medal {
	margin-top: 45px;
	}
	.promotional h1 {
		padding-top: 25px;

		@media screen and (max-width: 480px) {
			font-size: 1.7em;
		}
	}
 	li.slide {
		&.allseating{
			@media screen and (max-width: 700px) {
				background-image: url('/images/allseating-case1.jpg');
			}
		}
		&.allseating2{
			@media screen and (max-width: 700px) {
				background-image: url('/images/allseating-case2.jpg');
			}
		}
		&.allseating3{
			@media screen and (max-width: 700px) {
				background-image: url('/images/allseating-case3.jpg');
			}
		}
	}

	.carousel-inner {
		margin-bottom: -60px;
	}
}