#case-study.allseating-case-study {
	.medal {
	margin-top: 45px;
	}
	.promotional h1 {
		padding-top: 25px;
	}
 	li.slide {
		&.allseating{
			@media screen and (max-width: 700px) {
				background-image: url('/images/allseating-case1.jpg');
			}
		}
		&.allseating2{
			@media screen and (max-width: 700px) {
				background-image: url('/images/allseating-case2.jpg');
			}
		}
		&.allseating3{
			@media screen and (max-width: 700px) {
				background-image: url('/images/allseating-case3.jpg');
			}
		}
	}

	.carousel-inner {
		margin-bottom: -60px;
	}
}

@media screen and (max-width: 700px) {
	#case-study.allseating-case-study .carousel-inner {
		height: 300px;
		overflow: hidden !important;
	}

	#case-study.allseating-case-study section#overview {
		margin-top: 0px;
	}

	#case-study.allseating-case-study .case-studies.wrapper {
		margin-bottom: 40px;
	}
}