#case-study.unifor-case-study {
 	li.slide {
		&.unifor{
			@media screen and (max-width: 700px) {
				background-image: url('/images/unifor-case3.jpg');
			}
		}
		&.unifor2{
			@media screen and (max-width: 700px) {
				background-image: url('/images/unifor-case2.jpg');
			}
		}
		&.unifor3{
			@media screen and (max-width: 700px) {
				background-image: url('/images/unifor-case.png');
			}
		}
	}

	.carousel-inner {
		margin-bottom: -60px;
	}

	.case-studies.wrapper {
		margin-bottom: 85px;
	}
}

@media screen and (max-width: 700px) {
	#case-study.unifor-case-study {
		.case-studies.wrapper {
		    min-height: 360px;
		}

		img.case-study {
			width: 115%;
    		left: -50px;
		}

		.carousel-inner {
			height: 300px;
			overflow: hidden !important;
			margin-top: -15px;
			margin-bottom: -90px;
		}

		.carousel-inner {
			height: 300px;
			overflow: hidden !important;
		}

		section#overview {
			margin-top: 0px;
		}

		.case-studies.wrapper {
			margin-bottom: 40px;
		}
	}
}