.project-estimate {
  @media screen and (min-width: 1300px) {
    width: 1170px;
  }

  h2 {
    text-transform: inherit;
  }

  p, li {
    font-size: 18px;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      padding-left: 1.3em;
      line-height: 1.86;
      &:before {
        content: "\f058";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        width: 1.3em;
        color: $blue;
      }
    }
  }
  form {
    background: $greyLight70;
    padding: 30px;
    @include mobile {
      padding: 15px;
    }

    .input-group {
      display: flex;
    }

    button {
      background-size: cover !important;
      @include mobile {
        width: 100%;
      }
    }
  }
}




