.project-estimate {
  @media screen and (min-width: 1300px) {
    width: 1170px;
  }

  h2 {
    text-transform: inherit;
  }

  p, li {
    font-size: 18px;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      padding-left: 1.3em;
      line-height: 1.86;
      &:before {
        content: "\f058";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        width: 1.3em;
        color: $blue;
      }
    }
  }

  form {
    background: $greyLight70;
    padding: 30px;
    @include mobile {
      padding: 15px;
    }

    .input-group {
      display: flex;
    }

    button {
      margin-top: 20px;
      display: block;
      background-size: cover !important;
      @include mobile {
        width: 100%;
      }
    }
  }

  .errorNotice {
    font-size: 1em;
    font-weight: 700;
    margin-top: .5em;
    text-transform: inherit;
  }

  .call-to-action {
    background-color: #d9edf7;
    border-color: #bce8f1;
    h1 {
      font-size: 32px;
      color: #34789a;
    }
    .lead {
      color: #3a87ad;
    }
  }
}




