@keyframes analyticsWindow {
    from {
        left: 300px;
        top: 100px;
    }
    to {
        left: 24px;
        top: 100px;
    }
}

@keyframes diagramWindow {
    from {
        left: 300px;
        top: 130px;
    }
    to {
        left: 400px;
        top: 130px;
    }
}

@keyframes desktopWindow {
    from {
        left: 270px;
        top: 130px;
        filter: grayscale(100%);
    }
    to {
        left: 270px;
        top: 120px;
        filter: grayscale(0%);
    }
}

@keyframes mobileWindow {
    from {
        left: 240px;
        top: 140px;
    }
    to {
        left: 100px;
        top: 100px;
    }
}

@keyframes tabletWindow {
    from {
        left: 300px;
        top: 130px;
    }
    to {
        left: 600px;
        top: 100px;
    }
}

@keyframes toolbarWindow {
    from {
        left: 200px;
        top: 180px;
    }
    to {
        left: 80px;
        top: 210px;
    }
}

@keyframes codeWindow {
    from {
        left: 290px;
        top: 120px;
    }
    to {
        left: 290px;
        top: 100px;
    }
}

@keyframes iphoneWindow {
    from {
        left: 500px;
        bottom: 10px;
    }
    to {
        left: 10px;
        bottom: 10px;
    }
}

@keyframes analyticsCurtain {
    from {
        width: 296px;
    }
    to {
        width: 0px;
    }
}

@keyframes offeringBarUp {
    from {
        bottom: -100px;
    }
    to {
        bottom: 40px;
    }
}

@keyframes analyticsCurtainTwo {
    from {
        height: 163px;
        bottom: 30px;
    }
    to {
        height: 0px;
        bottom: 193px;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1.0;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.showcase-overlay {
    position: absolute;
    z-index: 20;
    top: 0px;
}

.showcase-wrapper {
    overflow: hidden;
    ul.slides {
        @media screen and (min-width: 992px) {
            height: 650px;
        }
        @media screen and (max-width: 991px) {
            height: 320px;
        }
        @media screen and (max-width: 540px) {
            height: 360px;
        }
        @media screen and (max-width: 400px) {
            height: 400px;
        }
    }
    li.slide.hidden {
        display: block !important;
        visibility: visible !important;
        .showcase-text {
            opacity: 0;
        }
        .showcase-stage {
            opacity: 0;
        }
    }
    ul.controls {
        text-align: center;
        margin-left: -8px;
        @media screen and (min-width: 992px) {
            width: 50%;
            float: left;
            position: absolute;
            bottom: 100px;
        }
    }
    li.slide.active {
        .showcase-text {
            animation-name: fadeIn;
            animation-duration: 0.75s;
            animation-timing-function: ease;
        }
        .showcase-stage {
            opacity: 1;
        }
    }
    .row {
        position: relative;
    }
}

.showcase-wrapper .col-md-6 {
    padding-left: 2em;
    padding-right: 2em;
    display: block;
    @media screen and (min-width: 992px) {
        height: 650px;
    }
}

.showcase-text {
    h2 {
        @media screen and (max-width: 500px) {
            font-size: 1.4em;
        }
    }
    .lead {
        font-size: 1.05em;
    }
    @media screen and (max-width: 1200px) {
        font-size: 14px;
    }
    @media screen and (max-width: 991px) {
        padding-top: 0em;
    }
    @media screen and (min-width: 992px) {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

.showcase-stage {
    @media screen and (max-width: 992px) {
        display: none;
    }
    width: 1000px;
    .orange-poly-lrg,
    .absolutely,
    .gradient {
        height: 650px;
        width: 1000px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .gradient {
        height: 650px;
        width: 1000px;
        position: absolute;
        top: 0;
        left: 0;
    }
    .offering-bar {
        position: absolute;
        padding: 10px;
        bottom: -100px;
        left: 337px;
        width: 360px;
        height: 140px;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: 0px 10px 52px 3px rgba(64, 64, 64, 0.55);
        -moz-box-shadow: 0px 10px 52px 3px rgba(64, 64, 64, 0.55);
        box-shadow: 0px 10px 52px 3px rgba(64, 64, 64, 0.55);
        display: block;
        .offering-icon {
            width: 60px;
            height: 60px;
            position: absolute;
            border-radius: 7px;
            padding: 10px;
            -webkit-box-shadow: 0px 2px 10px 3px rgba(64, 64, 64, 0.55);
            -moz-box-shadow: 0px 2px 10px 3px rgba(64, 64, 64, 0.55);
            box-shadow: 0px 2px 10px 3px rgba(64, 64, 64, 0.55);
            &:nth-child(2) {
                left: 80px;
            }
            &:nth-child(3) {
                left: 150px;
            }
            &:nth-child(4) {
                left: 220px;
            }
            &:nth-child(5) {
                left: 290px;
            }
            img {
                width: 100%;
                height: auto;
                border: white solid 2px;
                border-radius: 100%;
            }
        }
        .absolutely {
            z-index: 0;
        }
    }
    .grey-curtain {
        position: absolute;
        top: 40px;
        right: 19px;
        width: 297px;
        height: 91px;
        background: #e6e7e8;
    }
    .grey-curtain-2 {
        position: absolute;
        bottom: 30px;
        right: 19px;
        width: 237px;
        height: 163px;
        background: #e6e7e8;
    }
}

.grey-curtain-3 {
    background: #e6e7e8;
    width: 180px;
    height: 163px;
    position: absolute;
    top: 152px;
    left: 20px;
}

.showcase-frame {
    height: 650px;
    width: 1045px;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.analytics-window {
    width: 480px;
    left: 300px;
    top: 100px;
    img.sidebar {
        position: absolute;
        top: 47px;
        left: 30px;
        width: 102px;
        opacity: 0;
    }
}

.diagram-window {
    width: 480px;
    left: 400px;
    top: 140px;
}

img.window {
    width: 100%;
    height: auto;
}
/* Window */

div.window {
    position: absolute;
    height: auto;
    -webkit-box-shadow: 0px 10px 52px 3px rgba(64, 64, 64, 0.55);
    -moz-box-shadow: 0px 10px 52px 3px rgba(64, 64, 64, 0.55);
    box-shadow: 0px 10px 52px 3px rgba(64, 64, 64, 0.55);
}

div.window-badge {
    position: absolute;
    height: auto;
}

.badges {
    position: absolute;
    top: 90px;
    left: -10px;
}

.html-badge {
    left: 0px;
    top: 0px;
    width: 100px;
}

.css-badge {
    left: 10px;
    top: 120px;
    width: 80px;
}

.js-badge {
    left: -5px;
    top: 240px;
    width: 110px;
}

.drupal-badge {
    left: 13px;
    top: 360px;
    width: 80px;
}

.desktop-window {
    width: 460px;
    left: 270px;
    top: 120px;
}

.mobile-window {
    width: 180px;
    left: 100px;
    top: 100px;
}

.tablet-window {
    width: 360px;
    left: 600px;
    top: 100px;
}

.toolbar-window {
    width: 35px;
    left: 100px;
    top: 210px;
}

.code-window {
    width: 460px;
    left: 290px;
    top: 120px;
}

.iphone-window {
    position: absolute;
    width: 200px;
    left: 10px;
    bottom: 10px;
}

.animate {
    img.sidebar {
        animation-name: fadeIn;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .analytics-window {
        animation-name: analyticsWindow;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .diagram-window {
        animation-name: diagramWindow;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .grey-curtain {
        animation-name: analyticsCurtain;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .grey-curtain-2 {
        animation-name: analyticsCurtainTwo;
        animation-duration: 1.2s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .fade-out {
        animation-name: fadeOut;
        animation-duration: 2s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .offering-bar {
        animation-name: offeringBarUp;
        animation-duration: 1s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .mobile-window {
        animation-name: mobileWindow;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .desktop-window {
        animation-name: desktopWindow;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .toolbar-window {
        animation-name: toolbarWindow;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .tablet-window {
        animation-name: tabletWindow;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .code-window {
        animation-name: codeWindow;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
    .iphone-window {
        animation-name: iphoneWindow;
        animation-duration: 0.5s;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease;
    }
}

.showcase-intro.col-md-6 {
    text-align: center;
    margin-top: 4.0em;
    height: auto;
}

.showcase-wrapper ul.tabs {
    position: relative;
    bottom: initial;
    left: initial;
    border-bottom: $greyLight30 solid 1px;
    text-transform: uppercase;
    z-index: 1000;
    padding-bottom: 2em;
    list-style: none;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    li {
        display: inline-block;
        padding-left: 0.5em;
        padding-right: 0.5em;
        margin-bottom: 1em;
        position: relative;
        &:after {
            content: "\f111";
            font-family: 'fontawesome';
            font-size: 0.2em;
            position: absolute;
            right: -13px;
            padding-right: 10px;
            padding-top: 9px;
        }
        &:nth-child(3) {
            &:after {
                content: none;
            }
        }
    }
    li.active a {
        opacity: 1.0;
    }
    a {
        color: white;
        opacity: 0.5;
    }
    a:hover,
    a:focus {
        text-decoration: none;
    }
}
