/* How it's done animation */
@import 'how-its-done-animation';

/* How it's done */
.how-its-done {
    overflow:hidden;
    @media screen and (max-width: 992px) {
        height: auto;
    }
    .col-md-6 {
        padding-left: 2em;
        padding-right: 2em;
        display: block;
        @media screen and (min-width: 992px) {
        }
    }

    .row {
        position: relative;
    }

    .showcase-overlay {
        position: absolute;
        z-index: 20;
        top: 0px;
    }

    .showcase-text {
        h2 {
            @media screen and (max-width: 500px) {
                font-size: 1.4em;
            }
        }
        p {
            font-size: 1em;
        }

        .lead {
            font-size: 1.3em;
        }
        @media screen and (max-width: 1200px) {
            font-size: 14px;
        }
        @media screen and (max-width: 991px) {
            padding-top: 0em;
        }
        @media screen and (min-width: 992px) {
            position: relative;
            top: 100px;
        }
    }

    .showcase-frame {
        height: 550px;
        width: 825px;
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
    }

    .showcase-intro {
        padding-bottom: 1em;
    }

    .showcase-stage {
        width: 1000px;
        height: 500px;

        @media screen and (max-width: 992px) {
            display: none;
        }

        &.discover {
            .grey-curtain {
                position: absolute;
                top: 37px;
                right: 19px;
                height: 85px;
                background: #e6e7e8;
            }
            .grey-curtain-2 {
                position: absolute;
                bottom: 29px;
                right: 19px;
                width: 221px;
                height: 152px;
                background: #e6e7e8;
            }

            .grey-curtain-3 {
                background: #e6e7e8;
                width: 171px;
                height: 152px;
                position: absolute;
                top: 143px;
                left: 20px;
            }

            .analytics-window {
                width: 450px;
                img.sidebar {
                    position: absolute;
                    top: 47px;
                    left: 30px;
                    width: 102px;
                    opacity: 0;
                }
            }

            .diagram-window {
                width: 480px;
                left: 400px;
                top: 140px;
            }
        }

        &.design {
            .desktop-window {
                width: 460px;
                left: 270px;
                top: 120px;
            }

            .mobile-window {
                width: 180px;
                left: 100px;
                top: 100px;
            }

            .tablet-window {
                width: 360px;
                left: 600px;
                top: 100px;
            }

            .toolbar-window {
                width: 35px;
                left: 100px;
                top: 210px;
            }
        }

        &.build {
            .code-window {
                width: 460px;
                left: 290px;
                top: 120px;
            }

            .iphone-window {
                position: absolute;
                width: 150px;
                left: 10px;
                bottom: 10px;
            }

            .dark-grey-curtain-1 {
                /*background: #414142;
                position: absolute;
                width: 400px;
                top: 0px;
                left: 0px;
                height: 400px;*/
            }
        }

        .orange-poly-lrg,
        .absolutely,
        .gradient {
            height: 550px;
            width: 825px;
            position: absolute;
            top: 0;
            left: 0;
        }
        .gradient {
            height: 550px;
            width: 825px;
            position: absolute;
            top: 0;
            left: 0;
        }

        img.window {
            width: 100%;
            height: auto;
        }

        div.window {
            position: absolute;
            height: auto;
            box-shadow: 0px 10px 52px 3px rgba(64, 64, 64, 0.55);
        }

        .offering-bar {
            position: absolute;
            padding: 10px;
            bottom: -100px;
            left: 337px;
            width: 360px;
            height: 140px;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.5);
            box-shadow: 0px 10px 52px 3px rgba(64, 64, 64, 0.55);
            display: block;
            .offering-icon {
                width: 60px;
                height: 60px;
                position: absolute;
                border-radius: 7px;
                padding: 10px;
                box-shadow: 0px 2px 10px 3px rgba(64, 64, 64, 0.55);
                &:nth-child(2) {
                    left: 80px;
                }
                &:nth-child(3) {
                    left: 150px;
                }
                &:nth-child(4) {
                    left: 220px;
                }
                &:nth-child(5) {
                    left: 290px;
                }
                img {
                    width: 100%;
                    height: auto;
                    border: white solid 2px;
                    border-radius: 100%;
                }
            }
            .absolutely {
                z-index: 0;
            }
        }
    }

    ul.slides {
        @media screen and (min-width: 992px) {
            height: 500px;
        }

        @media screen and (max-width: 991px) {
            height: 320px;
        }
        @media screen and (max-width: 540px) {
            height: 360px;
        }
        @media screen and (max-width: 400px) {
            height: 450px;
        }
    }

    li.slide.hidden {
        display: block !important;
        visibility: visible !important;
        .showcase-text {
            opacity: 0;
        }
        .showcase-stage {
            opacity: 0;
            display: none;
        }
    }

    ul.controls {
        text-align: center;
        margin-left: -8px;
        @media screen and (min-width: 992px) {
            width: 50%;
            float: left;
            position: absolute;
            bottom: 100px;
        }
    }
    li.slide.active {
        .showcase-text {
            animation-name: fadeIn;
            animation-duration: 0.75s;
            animation-timing-function: ease;
        }
        .showcase-stage {
            opacity: 1;
        }
    }

    ul.tabs {
        position: relative;
        bottom: initial;
        left: initial;
        text-transform: uppercase;
        z-index: 1000;
        padding-bottom: 2em;
        list-style: none;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
        li {
            display: inline-block;
            padding-left: 0.5em;
            padding-right: 0.5em;
            margin-bottom: 1em;
            position: relative;
            font-weight: 700;
            &:nth-child(3) {
                &:after {
                    content: none;
                }
            }
        }

        li.active a {
            opacity: 1.0;
        }

        a {
            color: white;
            opacity: 0.5;
        }
        a:hover,
        a:focus {
            text-decoration: none;
        }
    }
}


