
article.offering {

	display: block;
	position: relative;
	margin-bottom: 1em;
	margin-top: 1em;
	position: relative;

	@media screen and (max-width: 1200px) {
		height: 200px;
	}

	.inner {
		border-radius: 10px;
		overflow: hidden;
		background: white;
	}

	.offering-icon {
		height: 200px;
		display: block;
		text-align: center;
		display: block;

		i {
			font-size: 100px;
			display: block;
			color: white;
			position: relative;
			top: 50%;
			transform: translateY(-50%);

		}
	}
	.offering-info {
		float: right;
		padding-bottom: 1em;

		@media screen and (min-width: 1200px) {
			height: 200px;
		}

		h1, h2 {
			font-size: 1.0em;
		}
	}
}




