
article.offering {
	height: 200px;
	display: block;
	position: relative;
	margin-bottom: 1em;
	margin-top: 1em;
	position: relative;

	.inner {
		border-radius: 10px;
		overflow: hidden;
		background: white;
	}

	.offering-icon {
		width: 40%;
		float: left;
		height: 200px;
		display: block;
		text-align: center;
		display: block;
		float: left;

		i {
			font-size: 100px;
			display: block;
			color: white;
			position: relative;
			top: 50%;
			transform: translateY(-50%);

		}

		&.yellow-poly {
			background-image: url('/images/yellow-back-500.png');
		}

		&.purple-poly {
			background-image: url('/images/purple-back-500.png');
		}

		&.orange-poly {
			background-image: url('/images/orange-back-500.png');
		}

		&.blue-poly {
			background-image: url('/images/blue-back-500.png');
		}

		&.green-poly {
			background-image: url('/images/green-back-500.png');
		}
	}
	.offering-info {
		width: 60%;
		float: right;
		padding-left: 1em;
		padding-right: 1em;
		padding-bottom: 1em;

		h1 {
			font-size: 1.0em;
		}
	}
}




