.promotional {
	text-align: center;
	padding: 6em 1em 2em 1em;

	@include mobile {
	}


	@include desktop {
		padding: 7em 1em 2em 1em;
	}

	h1 {
		@media screen and (min-width: 1200px) {
			font-size: 3.4em;
		}
	}

	span.alt {
		font-size: 1.5em;
		line-height: 0.9em;
		display: block;
	}

	.inner {
		max-width: 540px;
		margin: 0 auto;
	}

	.divider {
		background: white;
		width: 100%;
	}

	a.next {
		font-size: 2.5em;
		color: white;
		&:hover, &:focus {
			color: white;
		}
	}

	.decoration {
		font-size: 5.5em;
		line-height: 1em;
	}

	.btn {
		margin: 1em 1em;
	}
}

