.promotional {
	text-align: center;
	padding: 3em 1em;

	span.alt {
		font-size: 1.5em;
		line-height: 0.9em;
	}

	.inner {
		max-width: 500px;
		margin: 0 auto;
	}

	.divider {
		background: white;
	}
}

