.choose-us {
  background: url('../images/drupal-migration/choose-us-bg.png') no-repeat center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 60px;
  position: relative;

  @media (min-width: 768px) {
    padding-top: 62px;
    padding-bottom: 120px;
  }

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    opacity: 0.93;
    background: linear-gradient(180deg, transparent 0%, $sc-black 100%);
    z-index: 1;

    @media (min-width: 768px) {
      background: linear-gradient(90deg, transparent 0%, $sc-black 100%);
    }
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__logo {
    margin-top: 15px;
    margin-bottom: 65px;

    @media (min-width: 768px) {
      margin-top: 0;
      margin-bottom: 0;
    }

    img {
      margin: auto;
    }
  }

  &__description {
    color: $sc-white;
    margin-bottom: 40px;

    span {
      @include sf-style(19px, $font-family: $ff-open-sans, $font-weight: 500, $line-height: 27px, $letter-spacing: 0.94px);
      margin-bottom: 40px;
      display: block;
    }

    ul {
      padding-left: 20px;
      margin-bottom: 30px;

      @media (min-width: 768px) {
        margin-bottom: 40px;
      }
    }

    li,
    p {
      @include sf-style(16px, $font-family: $ff-open-sans, $font-weight: 400, $line-height: 27px, $letter-spacing: 0.94px);
      color: $sc-white;
    }
  }
}
