.sticky-menu {
  @media (min-width: 768px) {
    margin-top: 87px;
  }
}

.vertical-align {
  display: flex;
  align-items: center;

  @media (min-width: 450px) {
    &--xs {
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: 768px) {
    &--sm {
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: 992px) {
    &--md {
      display: flex;
      align-items: center;
    }
  }

  @media (min-width: 1200px) {
    &--lg {
      display: flex;
      align-items: center;
    }
  }
}

.col-6--xs {
  @media (min-width: 450px) {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.title {
  @include sf-style(23px, $font-family: $ff-open-sans, $font-weight: 600, $line-height: 37px, $letter-spacing: 0.77px);
  color: $sc-black;
  text-transform: none;
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin-bottom: 65px;
  }

  &--white {
    color: $sc-white;
  }
}

.cta-link {
  @include sf-style(14px, $font-family: $ff-open-sans, $font-weight: 600, $line-height: 19px, $letter-spacing: 0.88px);
  color: $sc-black;
  padding: 10px 17px;
  box-sizing: border-box;
  border: 1px solid $sc-red;
  border-radius: 3px;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  width: 100%;
  display: inline-block;
  text-align: center;;

  @media (min-width: 768px) {
    width: auto;
  }

  &::after {
    content: '';
    display: inline-block;
    background: url('../images/drupal-migration/arrow-bottom-red.svg') no-repeat center;
    height: 11px;
    width: 11px;
    -webkit-transition: all 350ms ease-out;
    transition: all 350ms ease-out;
    margin-left: 15px;
  }

  &:hover,
  &:focus {
    background-color: $sc-red;
    color: $sc-white;
    text-decoration: none;

    &::after {
      background: url('../images/drupal-migration/arrow-bottom-white.svg') no-repeat center;
    }
  }

  &--white {
    color: $sc-white;
  }

  &--right {
    &::after {
      transform: rotate(-90deg);
      margin-left: 25px;
    }
  }
}

.btn--submit {
  @include sf-style(15px, $font-family: $ff-open-sans, $font-weight: 600, $line-height: 20px, $letter-spacing: 0.94px);
  color: $sc-white !important;
  border: 1px solid $sc-red;
  border-radius: 3px;
  background-color: $sc-red !important;
  text-transform: none;
  padding: 12px 62px;
  -webkit-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
  width: 100%;

  @media (min-width: 768px) {
    width: auto;
  }

  &:hover,
  &:focus {
    background-color: transparent !important;
  }
}

.checkbox--white {
  width: 100%;
  margin: 15px auto;
  position: relative;
  display: block;

  &.error {
    label {
      &::before {
        border-color: $sc-red;
      }
    }
  }

  input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
  }

  label {
    position: relative;
    min-height: 34px;
    display: block;
    padding-left: 50px;
    margin-bottom: 0;
    cursor: pointer;
    vertical-align: sub;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 4px;
      width: 22px;
      height: 22px;
      -webkit-transition: border 350ms ease-out;
      transition: border 350ms ease-out;
      border-radius: 3px;
      border: 1px solid $sc-white;
    }

    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 5px;
      border-bottom: 2px solid $sc-white;
      border-left: 2px solid $sc-white;
      -webkit-transform: rotate(-45deg) scale(0);
      -moz-transform: rotate(-45deg) scale(0);
      -ms-transform: rotate(-45deg) scale(0);
      transform: rotate(-45deg) scale(0);
      position: absolute;
      top: 12px;
      left: 10px;
    }

    span {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  input[type="checkbox"]:checked ~ label::before {
    color: $sc-white;
  }

  input[type="checkbox"]:checked ~ label::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
  }

  input[type="checkbox"]:focus + label::before {
    outline: 0;
  }

  &.control-group {
    .help-block {
      position: static;

      @media (min-width: 600px) {
        position: absolute;
        bottom: -45px;
      }

      @media (min-width: 768px) {
        bottom: -40px;
      }
    }
  }
}

.text-right {

  @media (min-width: 768px) {
    &--sm {
      text-align: right;
    }
  }

  @media (min-width: 992px) {
    &--md {
      text-align: right;
    }
  }

  @media (min-width: 1200px) {
    &--lg {
      text-align: right;
    }
  }
}

.no-padding {
  @media (max-width: 1199px) {
    &--lg {
      padding: 0;
    }
  }

  @media (max-width: 991px) {
    &--md {
      padding: 0;
    }
  }

  @media (max-width: 767px) {
    &--sm {
      padding: 0;
    }
  }
}
